:root {
    --carousel-background: #f7f5f3;
}
.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.carousel__title {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    margin-bottom: 0;
}

.carousel__track {
    display: flex;
    transition: transform 0.5s ease;
    height: auto;
}

.carousel__slide {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    /* max-height: 40vh; */
    background-color: var(--carousel-background);
}

.slide__content,
.slide__image {
    padding: 2rem;
    box-sizing: border-box;
}

.slide__content {
    width: 40%;
    margin-left: 2vw;
}

.slide__image {
    width: 60%;
    display: flex;
    justify-content: center;
}

.slide__title {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    text-align: center;
    margin-top: 0;
}

.slide__text {
    font-family: "Aleo", serif;
}

.slide__image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
}

.carousel__nav {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    background: #6b2c40;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 2rem;
    z-index: 10;
}

.carousel__nav--prev {
    left: 0;
}
.carousel__nav--next {
    right: 0;
}

@media (max-width: 64em) {
    /* laptops and small desktops (≈1024px) */
}

@media (max-width: 48em) {
    .slide__title {
        margin-bottom: 0;
        line-height: 90%;
    }

    .carousel__nav {
        font-size: 1.5rem;
        padding: 0.75rem;
    }
}

@media (max-width: 37.5em) {
    /* phones (≈600px) */

    .carousel__title {
        text-align: center;
    }

    .carousel__slide {
        flex-direction: column-reverse;
    }

    .slide__content {
        width: 100%;
    }

    .slide__image {
        width: 100%;
    }

    .slide__content,
    .slide__image {
        padding: 1rem 1rem 0 1rem;
        box-sizing: border-box;
    }
}
